* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  @import url('https://fonts.cdnfonts.com/css/Fira Sans');
  
  body {
	font-family: "Fira Sans";
	font-size: 16px;
	line-height: 1.5;
	overflow: visible;
  }

  .left, .right {
    width: 20px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #3F3F3F;
}

.right {
    right: 0;
    left: auto;
}

.top, .bottom {
    width: 100%;
    height: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: #3F3F3F;
}

.bottom {
    top: auto;
    bottom: 0;
}
  
  /* Header Styles */
  header {
	background-color: #f2f2f2;
	color: #000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 18px;
	padding-bottom:0 ;
  position: sticky;
  top:0;
  z-index: 100;
  }

  .logo {
	display: block;
	align-items: center;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
  }
  
  .logo img {
	max-width: 40%;
	margin-left: 1rem;
  }
  
  nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  nav ul {
	display: flex;
	list-style: none;
  }
  
  nav ul li {
	margin-left: 2rem;
  }

  nav ul li:nth-child(5){
    margin-right: 10px;
  }
  
  nav a {
	color: #000;
	font-size: larger;
	font-weight: 600;
	text-decoration: none;
  }

  nav a:hover {
	color: #193dbf;
	font-size: larger;
	font-weight: 600;
	text-decoration: none;
  display:inline-block;
  transform: scale(1.1);
  }

  .submitbtn{
	background-color: #fff;
	color:#193dbf;
	font-size: 20px;
    font-weight: 600;
	padding: 1rem 2rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
  }
  
  .submitbtn:hover {
	background-color: #193dbf;
	color: #fff;
  }

  #ContactUs{
	padding: 20px;
	padding-top: 120px;
   }
  
   .contactus{
	  display: flex;
	  justify-content: space-between;
   }
  
   .contactus-left{
	width: 50%;
	float: left;
	padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
  
   /* .contactus-left h3{
	font-weight: 700;
	font-size: 75px;
   } */
   .contactus-details h1{
    color: #193dbf;
   }
  
   .contactus-details p{
	text-decoration: none;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
   }
  
  
   .contactus-right{
	width: 50%;
	float: left;
	align-items: center;
	justify-content: center;
	padding: 20px;
	padding-top: 40px;
	position: relative;
   }
  
   /* .contactus-right h3{
	font-weight: 400;
	font-size: 32px;
	line-height: 38px;
   } */
  
   form {
	display: flex;
	flex-direction: column;
	padding: 10px;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	}
  
   form label {
	margin-bottom: 0.5rem;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	}
  
	
	
	form input[type="text"],
	form input[type="email"],
	form input[type="phone"],
	form textarea {
	  /* background-color: #d9d9d9; */
	  color: #000;
	  margin-left: 2%;
	  font-size: 1.2rem;
	  padding: 0.5rem;
	  margin-bottom: 1rem;
	  border: none;
	  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); */
    	border-bottom: 2px solid rgba(56, 56, 56, 0.2);
	}
  
	form input[type="text"],
	form input[type="email"],
	form input[type="phone"],form textarea{
	  margin-left: 5.8%;
	}
	
	form input[type="text"]:focus,
	form input[type="email"]:focus,
	form input[type="phone"]:focus,
	form textarea:focus {
	  outline: none;
	  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}
	

	.contactus-row{
		display: flex;
		flex-direction: row;
		align-items: center;
	  }


	footer {
		color: #000;
		padding: 0px;
		width: 100%;
		text-align: center;
		align-items: center;
	  }
	
	  .footer-content{
		background-color: #f2f2f2;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		font-family: 'Fira Sans';
		font-style: normal;
		font-weight: 300;
		font-size: 15px;
	  }
	
	  .footer-logo{
		width: 30%;
		float: left;
		top: 50%;
		margin-left: 2%;
	  }
	
	  .social-icons{
		width: 20%;
		float: left;
		color: #000;
		
	  }
	
	  .social-icons a {
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
		display: flex;
		float: left;
		margin-right: 1rem;
		text-decoration: none;
		width: 100%;
		color: #000;
	  }
	
	
	  .social-icons a i{
		float: left;
		margin-top: 4px;
	  }
	
	  .phoneno-email{
		width: 25%;
		text-decoration: none;
		float: right;
	  } 
	  
	  .phoneno-email p{
		text-decoration: none;
		width: 100%;
	  }
	  
	
	  .address{
		width: 25%;
		float: right;
		margin-right: 4%;
		color: #000;
	  }
	
	  .address p{
		text-align: left;
		float: right;
		color: #000;
	  }
	
	  footer img{
		width: 60%;
		float: left;
		margin-left: 4%;
	  }
	





  .hamburger{
	display: none;
  }

  .desktop{
	display: flex;
  }

  .mobile{
	display: none;
  }

  .contact-banner{
    background-image: url(./images/contact-banner.jpg);
    position: relative;
    height: 450px;
    float: left;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: -40px;
    overflow: hidden;
  }

  .contact-heading h1{
    text-align: center;
	font-size: 45px;
    color: #193dbf;
  }
  main {
	padding: 30px;
  }

  label{
    color: #193dbf;
  }

  .contactus-details-row{
    margin-bottom: 10px;
  }


  @media only screen and (max-width: 800px){
	/* Header Styles */
	

	.desktop{
		display: none;
	  }
	
	  .mobile{
		display: flex;
	  }

    
	/* Navbar styles for mobile */
	nav {
		flex-direction: column;
		align-items: flex-start;
	  }
	  
	  nav ul {
		flex-direction: column;
		width: 100%;
		margin-top: 1rem;
	  }
	  
	  nav ul li {
		margin-left: 0;
		margin-bottom: 1rem;
	  }
	  
	  .logo{
		display: flex;
		justify-content: space-between;
		align-items: center;
	  }
	  
	  /* Hamburger menu styles */
	  .hamburger {
		background-color: transparent;
		display: block;
		cursor: pointer;
		padding: 3px;
		/* position: absolute;
		top: 23px;
		right: 23px; */
		margin-right: 5px;
		z-index: 1;
	  }
	  
	  .hamburger span {
		background-color:#000;
		display: block;
		height: 2.5px;
		margin-bottom: 5px;
		margin-top: 2px;
		width: 25px;
	  }
	  
	  /* Hide the desktop menu */
	  .desktop-menu {
		display: none;
	  }
  
  
	.logo img {
	  max-width: 40%;
	  margin-right: 0.5rem;
	}
  
	nav ul li {
	  margin-left: 1rem;
	}
	/* .hero-image {
	  height: 60vh;
	}
  
	.hero-text h1 {
	  font-size: 2.5rem;
	}
  
	.hero-text p {
	  font-size: 1rem;
	  margin-bottom: 1rem;
	} */
  
	button {
	  font-size: 1rem;
	  padding: 0.5rem 1rem;
	}
  
	/* Main Styles */
	section {
	  margin-bottom: 2rem;
	}

    .contactus{
        flex-wrap: wrap;
        justify-content: center;
     }
    
     .contactus-left{
      width: 80%;
      float: left;
      padding: 20px;
     }
    
    
    
     .contactus-right{
      width: 80%;
     }

     .footer-content{
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.footer-logo{
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;

	  }
	
	  .social-icons{
		width: 90%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;
	  }
	
	  
	
	  .phoneno-email{
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;
	  }
	  
	
	  .address{
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	  }

	  .address p{
		margin-right: 0%;
		text-align: center;
	  }
}